---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about James Reeves"
	pubDate={new Date('August 30 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Data enthusiast on a mission to make cost effective data platforms accessible to all while navigating the whims of an ADHD-powered mind – it's a bit like juggling flaming torches while riding a unicycle!
	</p>

</Layout>
